.pageContainer {
    padding: 20px;
    margin-top: 0;
    padding-top: 0;
    background: white;
   
}
.title{
    color: #6b2d4d;
    margin-bottom: 24px;
    margin-top: 20px;
    text-align: center;
}
.tableContainer{
    width: 80%;
    margin: 0 auto;
    background: white;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 12px ;
    overflow: hidden;
}

.th table, .td table {
    border: 1px solid #eee;
    padding: 12px;
    text-align: center;
}
.th table{
    background: #f8d7e6;
    color:#6b2d4d
}

.input[type="time"] table{
    border:none;
    background: transparent;
    text-align: center;
}
.saveButton{
    display: block;
    margin: 25px auto 0;
    background: #d81b60;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
.saveButton:hover{
    background: #ad1457;
}
.closedRow{
    background-color: #f3f3f3;
    color: #999;
}
.closedRow .input[type="time"] {
    background-color: #e8e8e8;
    color:#999;
}